.button-green,
.button-green:link,
.button-green:visited {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border-radius: 0.25em;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
  background-color: #43a6e2;
  background-color: #277ac1;
  background-image: -webkit-linear-gradient(top, #43a6e2, #277ac1);
  /* Safari 5.1+, Chrome 10+ */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#43a6e2', endColorstr='#277ac1', GradientType=0)";
  /* IE8+ */
  background-image: linear-gradient(to bottom, #43a6e2, #277ac1);
  /* the standard */
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 5px 10px;
  line-height: 1.1;
  text-decoration: none;
  min-width: 80px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  font-family: 'Open Sans', X-LocaleSpecific, sans-serif;
  -webkit-transition: all linear 0.25s;
  transition: all linear 0.25s;
  cursor: pointer;
  background-color: #81bc2e;
  background-color: #659324;
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(top, #81bc2e, #659324);
  /* Safari 5.1+, Chrome 10+ */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#81bc2e', endColorstr='#659324', GradientType=0)";
  /* IE8+ */
  background-image: linear-gradient(to bottom, #81bc2e, #659324);
  /* the standard */
}
.button-green:hover,
.button-green:link:hover,
.button-green:visited:hover,
.button-green.hover,
.button-green:link.hover,
.button-green:visited.hover,
.button-green:focus,
.button-green:link:focus,
.button-green:visited:focus,
.button-green.focus,
.button-green:link.focus,
.button-green:visited.focus {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3), inset 0px 12px 24px 2px #38a9ed;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all linear 0.25s;
  transition: all linear 0.25s;
}
.button-green:focus,
.button-green:link:focus,
.button-green:visited:focus,
.button-green.focus,
.button-green:link.focus,
.button-green:visited.focus {
  outline-color: #484848;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3), inset 0px 12px 24px 2px #38a9ed, 0 0 0 2px rgba(73, 173, 227, 0.4);
}
.button-green:active,
.button-green:link:active,
.button-green:visited:active,
.button-green.active,
.button-green:link.active,
.button-green:visited.active {
  box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12px 24px 6px rgba(0, 0, 0, 0.2), inset 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all linear 0.25s;
  transition: all linear 0.25s;
}
.button-green.insensitive,
.button-green:link.insensitive,
.button-green:visited.insensitive,
.button-green.insensitive:hover,
.button-green:link.insensitive:hover,
.button-green:visited.insensitive:hover,
.button-green.insensitive:focus,
.button-green:link.insensitive:focus,
.button-green:visited.insensitive:focus {
  background-color: #9ca3aa;
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(top, #bfc7cd, #9ca3aa);
  /* Safari 5.1+, Chrome 10+ */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfc7cd', endColorstr='#9ca3aa', GradientType=0)";
  /* IE8+ */
  background-image: linear-gradient(to bottom, #bfc7cd, #9ca3aa);
  /* the standard */
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
  color: #eee;
}
.button-green small,
.button-green:link small,
.button-green:visited small {
  display: block;
}
.button-green:hover,
.button-green:link:hover,
.button-green:visited:hover {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3), inset 0px 12px 24px 2px #83c822;
}
.button-green:focus,
.button-green:link:focus,
.button-green:visited:focus {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3), 0 0 0 2px rgba(129, 188, 46, 0.4);
}
.button-negative,
.button-negative:link,
.button-negative:visited {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border-radius: 0.25em;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
  background-color: #43a6e2;
  background-color: #277ac1;
  background-image: -webkit-linear-gradient(top, #43a6e2, #277ac1);
  /* Safari 5.1+, Chrome 10+ */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#43a6e2', endColorstr='#277ac1', GradientType=0)";
  /* IE8+ */
  background-image: linear-gradient(to bottom, #43a6e2, #277ac1);
  /* the standard */
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 5px 10px;
  line-height: 1.1;
  text-decoration: none;
  min-width: 80px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  font-family: 'Open Sans', X-LocaleSpecific, sans-serif;
  -webkit-transition: all linear 0.25s;
  transition: all linear 0.25s;
  cursor: pointer;
  background-color: #a91300;
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(top, #da5132, #a91300);
  /* Safari 5.1+, Chrome 10+ */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#da5132', endColorstr='#a91300', GradientType=0)";
  /* IE8+ */
  background-image: linear-gradient(to bottom, #da5132, #a91300);
  /* the standard */
}
.button-negative:hover,
.button-negative:link:hover,
.button-negative:visited:hover,
.button-negative.hover,
.button-negative:link.hover,
.button-negative:visited.hover,
.button-negative:focus,
.button-negative:link:focus,
.button-negative:visited:focus,
.button-negative.focus,
.button-negative:link.focus,
.button-negative:visited.focus {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3), inset 0px 12px 24px 2px #38a9ed;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all linear 0.25s;
  transition: all linear 0.25s;
}
.button-negative:focus,
.button-negative:link:focus,
.button-negative:visited:focus,
.button-negative.focus,
.button-negative:link.focus,
.button-negative:visited.focus {
  outline-color: #484848;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3), inset 0px 12px 24px 2px #38a9ed, 0 0 0 2px rgba(73, 173, 227, 0.4);
}
.button-negative:active,
.button-negative:link:active,
.button-negative:visited:active,
.button-negative.active,
.button-negative:link.active,
.button-negative:visited.active {
  box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12px 24px 6px rgba(0, 0, 0, 0.2), inset 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all linear 0.25s;
  transition: all linear 0.25s;
}
.button-negative.insensitive,
.button-negative:link.insensitive,
.button-negative:visited.insensitive,
.button-negative.insensitive:hover,
.button-negative:link.insensitive:hover,
.button-negative:visited.insensitive:hover,
.button-negative.insensitive:focus,
.button-negative:link.insensitive:focus,
.button-negative:visited.insensitive:focus {
  background-color: #9ca3aa;
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(top, #bfc7cd, #9ca3aa);
  /* Safari 5.1+, Chrome 10+ */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfc7cd', endColorstr='#9ca3aa', GradientType=0)";
  /* IE8+ */
  background-image: linear-gradient(to bottom, #bfc7cd, #9ca3aa);
  /* the standard */
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
  color: #eee;
}
.button-negative small,
.button-negative:link small,
.button-negative:visited small {
  display: block;
}
.button-negative:hover,
.button-negative:link:hover,
.button-negative:visited:hover {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3), inset 0px 12px 24px 2px #e64926;
}
.button-negative:focus,
.button-negative:link:focus,
.button-negative:visited:focus {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3), 0 0 0 2px rgba(218, 81, 50, 0.4);
}
.button-white,
.button-white:link,
.button-white:visited {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border-radius: 0.25em;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
  background-color: #43a6e2;
  background-color: #277ac1;
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(top, #43a6e2, #277ac1);
  /* Safari 5.1+, Chrome 10+ */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#43a6e2', endColorstr='#277ac1', GradientType=0)";
  /* IE8+ */
  background-image: linear-gradient(to bottom, #43a6e2, #277ac1);
  /* the standard */
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 5px 10px;
  line-height: 1.1;
  text-decoration: none;
  min-width: 80px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  font-family: 'Open Sans', X-LocaleSpecific, sans-serif;
  -webkit-transition: all linear 0.25s;
  transition: all linear 0.25s;
  cursor: pointer;
  border: 1px solid #d0d0d0;
  background: #fff;
  padding: 4px 10.5px;
  color: #484848;
  font-size: 10.5px;
  font-size: 0.65625rem;
  font-weight: normal;
  text-shadow: none;
  box-shadow: 0 0 12px rgba(230, 230, 230, 0.2) inset, 0 -2px #e8e8e8 inset;
  border-radius: 6px;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.button-white:hover,
.button-white:link:hover,
.button-white:visited:hover,
.button-white.hover,
.button-white:link.hover,
.button-white:visited.hover,
.button-white:focus,
.button-white:link:focus,
.button-white:visited:focus,
.button-white.focus,
.button-white:link.focus,
.button-white:visited.focus {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3), inset 0px 12px 24px 2px #38a9ed;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all linear 0.25s;
  transition: all linear 0.25s;
}
.button-white:focus,
.button-white:link:focus,
.button-white:visited:focus,
.button-white.focus,
.button-white:link.focus,
.button-white:visited.focus {
  outline-color: #484848;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3), inset 0px 12px 24px 2px #38a9ed, 0 0 0 2px rgba(73, 173, 227, 0.4);
}
.button-white:active,
.button-white:link:active,
.button-white:visited:active,
.button-white.active,
.button-white:link.active,
.button-white:visited.active {
  box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12px 24px 6px rgba(0, 0, 0, 0.2), inset 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all linear 0.25s;
  transition: all linear 0.25s;
}
.button-white.insensitive,
.button-white:link.insensitive,
.button-white:visited.insensitive,
.button-white.insensitive:hover,
.button-white:link.insensitive:hover,
.button-white:visited.insensitive:hover,
.button-white.insensitive:focus,
.button-white:link.insensitive:focus,
.button-white:visited.insensitive:focus {
  background-color: #9ca3aa;
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(top, #bfc7cd, #9ca3aa);
  /* Safari 5.1+, Chrome 10+ */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfc7cd', endColorstr='#9ca3aa', GradientType=0)";
  /* IE8+ */
  background-image: linear-gradient(to bottom, #bfc7cd, #9ca3aa);
  /* the standard */
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
  color: #eee;
}
.button-white small,
.button-white:link small,
.button-white:visited small {
  display: block;
}
.button-white:hover,
.button-white:link:hover,
.button-white:visited:hover,
.button-white:focus,
.button-white:link:focus,
.button-white:visited:focus {
  color: #484848;
  box-shadow: 0 0 12px rgba(230, 230, 230, 0.2) inset, 0 -2px #e8e8e8 inset;
}
.button-white.selected {
  background: #d7d5d5;
  border-color: #bcb9b9;
  text-shadow: 0 1px #fff;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75), 0 1px 3px rgba(0, 0, 0, 0.1) inset;
}
